.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ba9bd8;
  align-items: center;
  padding-right: 40px;
  z-index: 1;
}

.nav .logo img {
  width: 120px;
  height: 100px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.search {
  display: flex;
}
.searchInput {
  border-radius: 10px;
  padding: 0;
  text-align: center;
  margin-right: 4px;
  border-color: #efefef;
  border: 4px;
}

.searchButton {
  border-radius: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: #efefef;
  border: 4px;
  font-weight: 600;
  border-color: #afc5ff;
  background-color: #7e9cec;
  border-width: medium;
}

.searchButton:hover {
  color: white;
  transition: linear;
  transition-duration: 100ms;
  background-color: #afc5ff;
  border-color: #e8eaf1;
}

@media only screen and (max-width: 640px) {
  .nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
  }
}
